#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cd src && cargo build --release

override_dh_auto_install:
	install -D -m 755 src/target/release/rtlc debian/rename-to-lowercase/usr/bin/rtlc

override_dh_auto_test:
